
body {
    background-color:  hsl(228, 33%, 97%);
}

.comment {
    display:flex;
    justify-content: center;

        width: 80%;
        height: 100px;
        padding-top: 50px;
        border: 3px white;
        background-color: white;
        margin-left: 70px;
        margin-top: 50px
       
}

 /* h5 {
    display:flex;
    align-items:flex-start;
 } */
   
